/* Colores */
body {
  /* --blue-color: blue; */
  --red-color: red;
  --green-color: green;
  --yellow-color: yellow;
  --purple-color: purple;
  --orange-color: orange;
  --pink-color: pink;
  --brown-color: brown;
  --gray-color: gray;
}

#uno {
  background-color: var(--blue-color, black);
}

#dos {
  background-color: var(--red-color);
}

#tres {
  background-color: var(--green-color);
}

/* Grid Colors */
.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 50px 50px;
  grid-gap: 30px 5px;
  width: 100%;
}

.container > div {
  /* width: 100%;
  height: 100%; */
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.d1 {
  background-color: var(--blue-color);
}

.d2 {
  background-color: var(--red-color);
}

.d3 {
  background-color: var(--green-color);
}

.d4 {
  background-color: var(--yellow-color);
}

.d5 {
  background-color: var(--purple-color);
}
